<!--блок head-->
{% block links %}    
    {% load static %}
    <head>        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
        <script src="{%static 'js/ajax/jquery.min.js'%}"></script>
        <script src="{%static 'js/bootstrap.min.js'%}"></script>
        
        <script src="{%static 'js/popper.js'%}"></script>
        <script src="{%static 'js/main.js'%}"></script>
        <link rel="stylesheet" href="{%static 'css/sidebar.css'%}">
        <link rel="stylesheet" href="{%static 'css/style.css'%}">
        <link rel="icon" href="{%static 'images/logo-cuted.png'%}">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" type="text/css" href="{%static 'css/util.css'%}">
        <link rel="stylesheet" type="text/css" href="{%static 'css/portfolio.css'%}">

        {% block styles %}

        {% endblock %}
    </head>
{% endblock %}

{% block body%}
    <body>
        <div class="wrap">
            <!--header для каждой странички-->
            {% block header %}
                
                <div class="sidebar-parent-block">
                    <nav class="sidebar">
                        <div class="sidebar-content">
                        <div class="sidebar-header">
                            <div class="arrow-navigation"><img alt="" src="{%static 'images/icons/arrow-right.png'%}" id="arrow"
                                style="width: 20px;"></div>
                            <a href="#"><img alt="" class="mystat-img" src="{%static 'images/logo.png'%}" style="width: 100px;"></a>
                        </div>
                        <div>
                            <ul class="sidebar-nav">

                            <li class="main-item ">
                                <a routerlinkactive="active" href="{%url 'main:index'%}" >
                                <span class="side-text {%block header_button1%} {% endblock %}">Главная</span>
                                <div class="close-hover"> Главная </div>
                                </a>
                            </li>
                            {% if request.session.role == "student" %}
                                <li class="profile-item ">
                                    <a routerlinkactive="active" href="{%url 'main:portfolio_edit'%}" >
                                    <span class="side-text {%block header_button2%} {% endblock %}">Портфолио</span>
                                    <div class="close-hover"> Портфолио </div>
                                    </a>
                                </li>
                            {% elif request.session.role == "employer" %}
                                <li class="profile-item">
                                    <a routerlinkactive="active" href="{%url 'main:index'%}" >
                                    <span class="side-text {%block header_button3%} {% endblock %}">Профиль</span>
                                    <div class="close-hover"> Профиль </div>
                                    </a>
                                </li>
                            {% endif %}
                            </ul>

                        </div>
                        </div>
                    </nav>
                </div>

                <div class="sidebar-parent-top-block">
                    <nav class="sidebar" id="mobile-nav">
                        <div class="sidebar-content">
                        <div class="sidebar-header">
                            <div class="arrow-navigation"><img alt="" id="arrow-mobile" style="width: 30px; margin-top: 15px;"
                                src="{%static 'images/icons/down-arrow.png'%}"></div>
                            <a href="#"><img alt="" class="mystat-img-mobile" src="{%static 'images/logo.png'%}" style="width: 100px;"></a>
                        </div>

                        <div id="mobile-sidebar" class="open-sidebar">
                            
                            <div id="mobile-sidebar" class="open-sidebar">           
                            <ul class="sidebar-nav">
                                <li class="main-item">
                                    <a routerlinkactive="active" href="{%url 'main:index'%}" >
                                        <span class="side-text">Главная</span>
                                    </a>
                                </li>
                                {% if request.session.role == "student" %}
                                    <li class="profile-item">
                                        <a routerlinkactive="active" href="{%url 'main:portfolio_edit'%}">
                                            <span class="side-text">Портфолио</span> 
                                        </a>
                                    </li>
                                {% elif request.session.role == "employer" %}
                                    <li class="profile-item">
                                        <a routerlinkactive="active" href="{%url 'main:portfolio_edit'%}">
                                        <span class="side-text">Профиль</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                            <ul class="sidebar-nav">
                            <li class="main-item">
                                <a routerlinkactive="active" href="{%url 'main:index'%}" class="{%block header_button4%} {% endblock %}">
                                <span class="side-text">Главная</span>
                                </a>
                            </li>
                            {% if request.session.role == "student" %}
                                <li class="profile-item">
                                    <a routerlinkactive="active" href="{%url 'main:portfolio_edit'%}"  class="{%block header_button5%} {% endblock %}">
                                    <span class="side-text">Портфолио</span>
                                    </a>
                                </li>
                            {% elif request.session.role == "employer" %}
                                <li class="profile-item">
                                    <a routerlinkactive="active" href="{%url 'main:portfolio_edit'%}"  class="{%block header_button6%} {% endblock %}">
                                    <span class="side-text">Профиль</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="exit-item">
                                <a routerlinkactive="active" href="#" class="">
                                <span class="side-text">Выйти</span>
                                </a>
                            </li>
                            </ul>
                        </div>
                        </div>
                    </nav>
                </div>
                
            {% endblock %}
            
            
            
            <!--содержимое для каждой странички-->
            {% block body_content %}
                <div class="content">
                    <nav class="navbar navbar-expand-lg navbar-light {% if success or upload_error %}m-0{% endif %}" id="none">
                        <div class="container-fluid">
                            <div class=" navbar-collapse" style="text-align: center;" id="navbarSupportedContent">
                                <a style="color:white;" href="#">Digital University</a>
                                <ul class="nav navbar-nav ml-auto">
                                    <li class="nav-item m-r-30">
                                        <img src="{{user.img_url}}" class="nav-image inline-block" alt="">
                                        <a class="nav-link inline-block" href="#">{{user.fullname}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <form action="{% url 'main:logout'%}" method="post">{% csrf_token %}
                                            <button type="submit" class="nav-link m-t-10" href="{%url 'main:logout'%}"><img style="width: 20px;" src="{%static 'images/icons/logout-white.png'%}"alt=""></button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                    {% block notification%}
                    
                    {% endblock %}

                    {% block content%}
                        <div class="container bootstrap snippet {% if success or upload_error %}m-t-30{% endif %}">
                            <div class="row">
                                <div class="col-sm-3"><!--left col-->
                                    {% if request.session.role == "employer"%}
                                        <div class="text-center relative">
                                            <img src="{{user.img_url}}" class="avatar img-circle img-thumbnail" style="width: 100%;border-radius: 50%;" alt="avatar">
                                        </div>
                                    {% elif request.session.role == "student"%}
                                        <form action="{%url 'main:update_avatar'%}" style="text-align:center" enctype="multipart/form-data" method="post">{% csrf_token %}
                                            <div class="relative">
                                                <img src="{{user.img_url}}" class="avatar img-circle img-thumbnail relative" style="width: 100%;border-radius: 50%;" alt="avatar">
                                                <input type="file" name="avatar" class="absolute-link" style="opacity:0;cursor:pointer;" />    
                                            </div>
                                            <button class="btn btn-lg btn-success col-6" type="submit">Загрузить</button>
                                        </form>
                                    {% endif %}
                                    </hr><br>
                                    <ul class="list-group card shadow-sm x-shadow-fade-in" >
                                        <form action="{%url 'main:update_social'%}" method="POST">{% csrf_token %}
                                            <li class="list-group-item text-muted inherit-style">Соц Сети <img src="{%static 'images/icons/share.png'%}" style="width: 15px;margin-left: 2px;"  alt=""></li>
                                            {% if request.session.role == "student"%}
                                                <li class="list-group-item text-muted social-li">
                                                    <a href="#">
                                                        <img src="{%static 'images/icons/vk.png'%}" class="social" alt="">
                                                    </a>
                                                    <input type="text" name="vk" class="social-input" value="{{user.vk}}" placeholder="Ссылка на VK">
                                                </li>
                                                <li class="list-group-item text-muted social-li">
                                                    <a href="#">
                                                        <img src="{%static 'images/icons/telegram.png'%}" class="social" alt="">
                                                    </a>
                                                    <input type="text" name="telegram" class="social-input" value="{{user.telegram}}" placeholder="Твой ник в телеграмм">
                                                </li>
                                                <li class="list-group-item text-muted social-li">
                                                    <button class="btn btn-lg btn-success col-12" type="submit">Сохранить</button>
                                                </li>
                                            {% elif request.session.role == "employer"%}
                                                {%if employer_request.is_applied%}
                                                    <li class="list-group-item text-muted social-li">
                                                        <a href="{{user.vk}}">
                                                            <img src="{%static 'images/icons/vk.png'%}" class="social" alt="">
                                                        </a>
                                                        <a href="https://t.me/{{user.telegram}}">
                                                            <img src="{%static 'images/icons/telegram.png'%}" class="social" alt="">
                                                        </a>
                                                    </li>                                                    
                                                {% elif is_request_sended %}
                                                    <li class="list-group-item text-muted social-li style="height: auto;text-align: center;"">
                                                        <h4>Чтобы связатся со студентом нужно чтобы он принял вашу заявку!
                                                        </h4>
                                                    </li> 
                                                {%else %}
                                                    <li class="list-group-item text-muted social-li" style="height: auto;text-align: center;">
                                                        <h4>Отправьте заявку чтобы увидеть соц сети студента для связи!
                                                        </h4>
                                                    </li> 
                                                {%endif%}
                                            {%endif%}
                                        </form>                            
                                    </ul>
                                
                                
                                    <ul class="list-group m-t-30 card shadow-sm x-shadow-fade-in">
                                        <li class="list-group-item text-muted inherit-style">Статистика<i class="fa fa-dashboard fa-1x m-l-5"></i></li>
                                        <li class="list-group-item text-right"><span class="pull-left"><strong>Просмотры Портфолио</strong></span> {% if request.session.role == "student"%} {{user.views.all|length}}    {%else%}{{student.views.all|length}} {%endif%}</li>
                                        <li class="list-group-item text-right"><span class="pull-left"><strong>Предложения Работы</strong></span>  {% if request.session.role == "student"%} {{user.requests.all|length}} {%else%}{{student.requests.all|length}} {%endif%}</li>
                                    </ul> 

                                    {% if request.session.role == "student" %}
                                        <div class="card" style="margin:50px 0">                                            
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item fs-17">
                                                    Ищите работу?
                                                    <label class="switch ">
                                                        <form action="{%url 'main:switch_search'%}" method="post">{% csrf_token %}
                                                            <input type="checkbox" class="primary" name="is_search" {% if user.is_searching_work %} checked {%endif%} id="checkbox">
                                                            <span class="slider round"></span>
                                                            <button type="hidden" id="is_search"></button>
                                                        </form>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    {%endif %}
                                    
                                
                                
                                </div><!--/col-3-->
                                <div class="col-sm-9">
                                    {%block portfolio_pages%}
                                        <ul class="nav nav-tabs m-b-20 m-t-20">
                                            <li id="auto-scroll" class="{%block active_portfolio_block1%} {%endblock%}"><a href="{% url 'main:portfolio_edit' %}#auto-scroll">Портфолио</a></li>
                                            <li id="achive" class="{%block active_portfolio_block2%} {%endblock%}"><a href="{% url 'main:portfolio_achivements' %}#auto-scroll">Достижения</a></li>
                                            <li id="requests" class="{%block active_portfolio_block3%} {%endblock%}"><a href="{% url 'main:portfolio_requests' %}#auto-scroll">Предложения Работы</a></li>
                                            <li id="add-achive" class="{%block active_portfolio_block4%} {%endblock%}"><a href="{% url 'main:portfolio_add_achivement' %}#auto-scroll">Добавить Достижение</a></li>
                                        </ul>
                                    {%endblock%}
                                    
                                {% block tab_content%}

                                {%endblock%}
                            </div><!--/col-9-->
                        </div><!--/row-->
                    {%endblock%}
                </div>
            {% endblock %}

        </div>
    </body>
{% endblock %}

{% block footer %}

    <!-- Место для футера -->

    <!-- Место для футера -->

    <script src="{%static 'js/jquery.min.js'%}"></script>
    <script src="{%static 'js/search.js'%}"></script>
    <script src="{%static 'js/sidebar.js'%}"></script>
    <style type="text/css">
        #hellopreloader>p {
        display: none;
        }

        #hellopreloader_preload {
        display: block;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-width: 100px;
        background: #1e6cc7 url({%static 'gif/preloader.gif'%}) center center no-repeat;
        background-size: 50%;
        }
    </style>
    <div id="hellopreloader">
        <div id="hellopreloader_preload"></div>
        <p><a href="http://hello-site.ru">Hello-Site.ru. Бесплатный конструктор сайтов.</a></p>
    </div>
    <script type="text/javascript">
        var hellopreloader = document.getElementById("hellopreloader_preload");

        function fadeOutnojquery(el) {
        el.style.opacity = 1;
        var interhellopreloader = setInterval(function () {
            el.style.opacity = el.style.opacity - 0.05;
            if (el.style.opacity <= 0.05) {
            clearInterval(interhellopreloader);
            hellopreloader.style.display = "none";
            document.getElementsByTagName("html")[0].style.overflow = "";
            }
        }, 16);
        }
        window.onload = function () {


        setTimeout(function () {
            fadeOutnojquery(hellopreloader);
        }, 100);
        };
    </script>
    <script type="text/javascript">
        $("#admin").addClass("active");
        var modal = document.getElementById("success-update");
        var btn = document.getElementById("close");

        if (btn) {
            btn.onclick = function () {
                modal.style.display = "none";
            };
        }

        $("#checkbox")[0].onchange = function(){
            $("#is_search")[0].click()
        }
    </script>
{% endblock %}