{% extends "base_profile.html" %}
{% load static %}

{%block styles %}
    <title>Профиль {{user.fullname}}</title>
{% endblock %}

{% block header_button5 %}active{% endblock %}
{% block header_button2 %}active{% endblock %}
{% block active_portfolio_block1 %}active{% endblock %}


{%block notification %}
    {%if success%}
        <div class="alert alert-dismissable alert-success mb-0 rounded-0" id="success-update" style="padding:15px">
            <button aria-hidden="true" class="close" id="close" data-dismiss="alert" type="button"
                style="top:0;right:0">×</button>
            {{success}}
        </div>
    {% elif upload_error%}
        <div class="alert alert-dismissable alert-danger mb-0 rounded-0" id="success-update" style="padding:15px">
            <button aria-hidden="true" class="close" id="close" data-dismiss="alert" type="button"
                style="top:0;right:0;font-size:25px">×</button>
            {{upload_error}}
        </div>
    {%endif%}
{%endblock%}

{%block tab_content%}
    <div class="tab-content">
        <div class=" active" id="portfolio">
            
            <form class="form" action="##" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="col-12">
                    <div class="form-group">
                    
                        <div class="wrap-input100 validate-input m-b-16 col-xl-12 col-sm-12 p-0">                                            
                            <div class="card shadow-sm x-shadow-fade-in">
                                <input type="text" class="input100" required name="fullname" value="{{user.fullname}}" id="full_name" placeholder=" Ф.И.О" title=" Ф.И.О">
                                <span class="focus-input100"></span>  
                            </div>                                            
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <div class="wrap-input100 validate-input m-b-16 col-xl-12 col-sm-12 p-0">                        
                            <div class="card shadow-sm x-shadow-fade-in">
                                <input type="email" disabled name="email" class="input100" value="{{user.email}}" required name="email" id="email" placeholder="Ваш Email" title="Ваш Email">
                                <span class="focus-input100"></span> 
                            </div>                                            
                        </div>
                    </div>
                <div class="form-group">
                    
                    <div class="wrap-input100 validate-input m-b-16 col-xl-12 col-sm-12 relative p-0">                 
                        <div class="card shadow-sm x-shadow-fade-in">
                            <h1 class="resume-title inherit-style">Описание</h1>                           
                            <textarea placeholder="Информация о вакансии" name="resume"  id="resume" class="resume" rows="10">{{user.description}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">          
                    <div class="wrap-input100 validate-input m-b-16 col-xl-3 col-sm-12 p-0">                             
                        <button class="btn btn-lg btn-success col-12 m-b-20" type="submit">Сохранить</button>    
                    </div>                                                            
                </div>
            </form>
        </div><!--/-->                            
    </div><!--/tab-content-->
{%endblock%}