{% extends "base_portfolio.html" %}
{% load static %}

{%block styles %}
    <title>Достижения {{user.fullname}}</title>
{% endblock %}

{% block header_button5 %}active{% endblock %}
{% block header_button2 %}active{% endblock %}
{% block active_portfolio_block2 %}active{% endblock %}

{%block portfolio_pages%}
    <ul class="nav nav-tabs m-b-20 m-t-20">
        <li id="auto-scroll"><a href="{% url 'main:portfolio_show' student.id %}#auto-scroll">Портфолио</a></li>
        <li id="achive"  class="active"><a href="{% url 'main:portfolio_achivements' %}#auto-scroll">Достижения</a></li>
    </ul>
{%endblock%}

{%block tab_content%}
    <div class="tab-content">
        <div class="">
            {% for block in blocks%}
                    <div class="form-group">
                        <div class="wrap-input100 validate-input m-b-16 col-xl-6 col-sm-12">
                            <div class="card shadow-sm x-shadow-fade-in">
                                <img src="{{block.img_url}}" class="achivement-img"
                                    alt="">
                                <div class="achivement-div">
                                    <h3 class="achive-title">{{block.title}}</h3>
                                    <span class="achive-description">{{block.description}}</span>
                                </div>
                                {% if request.session.role == "student"%}
                                    <form class="form" action="{%url 'main:delete_achivement'%}" method="post" id="registrationForm">
                                        <input type="hidden" name="id" value="{{block.id}}" disabled>
                                        <button type="submit" href="###" class="cancel-img relative">
                                            <img src="{%static 'images/icons/close.png'%}" alt="" class="cancel-img">
                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>    
            {% endfor %}
            {%if not blocks%}
                <h2 class="important-text" style="margin:30px auto;text-align:center;">У студента нет достижений!</h2>
            {%endif%}
        </div>
    </div>
    <!--/tab-content-->
{%endblock%}
