{% extends "base_portfolio.html" %}
{% load static %}

{%block styles %}
    <title>Достижения {{user.fullname}}</title>
    <script src="{%static 'js/image_preview.js'%}" ></script>
{% endblock %}

{% block header_button5 %}active{% endblock %}
{% block header_button2 %}active{% endblock %}
{% block active_portfolio_block3 %}active{% endblock %}

{%block tab_content%}
   <div class="tab-content">
        {% for block in blocks %}
            <div class="" id="requests">
                <div class="wrap-input100 validate-input m-b-16 col-xl-6 col-sm-12">
                    <div class="card shadow-sm x-shadow-fade-in">
                        <img src="{{block.img_url}}" class="achivement-img" alt="">
                        <div class="achivement-div" style="padding:10px">
                            <h2 class="achive-title">{{block.owner.fullname}}</h2>
                            <div class="inline-text">
                                <h4 class="important-text">Компания: </h4>
                                <h4>{{block.owner.company}}</h4>
                            </div>

                            <div>
                                <h4 class="important-text" style="float: left;">Дополнительно: </h3>
                                    <h4>{{block.description}}</h4>
                            </div>
                        </div>
                        <div class="m-b-10">
                            <form action="##" method="post" class="col-xl-6 col-sm-12">

                                <input type="hidden" value="Id Предложения Bro">
                                <button type="submit" class="btn btn-lg btn-success col-12 m-b-10"
                                    style="border-radius: none;">Принять</button>

                            </form>
                            <form action="##" method="post" class="col-xl-6 col-sm-12">

                                <input type="hidden" value="Id Предложения Bro">
                                <button type="submit" class="btn btn-lg btn-danger col-12"
                                    style="border-radius: none;">Отклонить</button>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
        {%if not blocks%}
            <h2 class="important-text" style="margin:30px auto;text-align:center;">У вас нет предложений работы!</h2>
        {%endif%}
    </div>
{% endblock%}

 
 