{% extends "base_vacancy.html" %}
{% load static %}

{%block styles %}
    <title>{{vacancy.title}}</title>
{% endblock %}

{% block header_button5 %}active{% endblock %}
{% block header_button2 %}active{% endblock %}
{% block active_portfolio_block1 %}active{% endblock %}

{%block tab_content%}
<div class="row">
<div class="col-sm-3">
    <img src="{{vacancy.owner.img_url}}" id="avatar" class="achivement-img mgt-50" style="border-radius:50%;width:100%" alt="">
        <div class="wrap-input100 validate-input m-b-16 col-xl-12 col-sm-12 p-0 m-t-20" >                                           
            <div class="card shadow-sm x-shadow-fade-in">
                <div type="text" class="input100 p-t-10" style="height:auto">
                    <span style="float:left">Работодатель:&emsp; </span> <h3  style="float:left">{{vacancy.owner.fullname}}</h3>
                </div>
                <span class="focus-input100"></span>
            </div>                                            
        </div>
        <div class="wrap-input100 validate-input m-b-16 col-xl-12 col-sm-12 p-0 m-t-10" >                                           
            <div class="card shadow-sm x-shadow-fade-in">
                <div class="input100 p-t-10" style="height:auto">
                    <span style="float:left">Опубликовано:&emsp;</span> <h3  style="float:left" style="float:left"> {{vacancy.pub_date}}</h3>
                </div>
                <span class="focus-input100"></span>
            </div>                                            
        </div>
        <div class="wrap-input100 validate-input m-b-16 col-xl-12 col-sm-12 p-0 m-t-10" >                                           
            <div class="card shadow-sm x-shadow-fade-in">
                <div class="input100 p-t-10" style="height:auto">
                    <span style="float:left">Просмотры:&emsp;</span> <h3  style="float:left" style="float:left"> {{vacancy.views.all|length}}</h3>
                </div>
                <span class="focus-input100"></span>
            </div>                                            
        </div>
</div>
<div class="col-sm-9">
    <h1  class="important-text" style="margin:30px auto;text-align:left;">{{vacancy.title}}</h1>
    <h3  class="important-text" style="margin:30px auto;text-align:left; color:green">{{vacancy.salary}} тенге</h3>
    <div class="tab-content">
        <div class=" active" id="portfolio">
                <div class="form-group">
                    <div class="wrap-input100 validate-input m-b-16 col-xl-12 col-sm-12 relative p-0">                 
                        <div class="card shadow-sm x-shadow-fade-in">
                            <h1 class="resume-title inherit-style">Описание</h1>                           
                            <textarea disabled  id="resume" class="resume" rows="10">{{vacancy.content}}</textarea>
                        </div>
                    </div>
                </div>

                {% if request.session.role == "student"%}
                    {% if not vacancies|length > 0%}
                    <form class="form" action="{% url 'main:apply_vacancy' %}" method="post" >{% csrf_token %}
                        <div class="form-group">          
                            <div class="wrap-input100 validate-input m-b-16 col-xl-3 col-sm-12 p-0">
                                <input hidden type="text" value="{{vacancy.id}}" name="vacancy_id">                            
                                <button id="sendRequestBtn" class="btn btn-lg btn-success col-12 m-b-20" type="submit">Откликнуться</button>    
                            </div>                                                            
                        </div>
                    </form>
                    {% else%}
                         <div class="form-group">          
                            <div class="wrap-input100 validate-input m-b-16 col-xl-3 col-sm-12 p-0">
                                <input hidden type="text" value="{{vacancy.id}}" name="vacancy_id">                            
                                <button id="sendRequestBtn" class="btn btn-lg btn-success col-12 m-b-20" disabled>Вы уже откликнулись</button>    
                            </div>                                                            
                        </div>
                    {%endif%}
                {% elif request.session.role == "employer" %}
                <h5 class="login100-form-title p-b-51">Откликнувшиеся студенты:</h5>
                    {% for request in requests %}
                        <div class="card shadow-sm x-shadow-fade-in">
                            <div type="text" class="input100 p-t-10">
                                <span style="text-align: center; width: 100%">{{request.student.fullname}}</span>
                                <a href="{%url 'main:portfolio_show' request.student.id%}" class="absolute-link"></a>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-2 col-xs-12"></div>
                                <div class="col-md-2 col-xs-12">
                                    <form action="{% url 'main:accept_student' %}" method="POST">{% csrf_token %}
                                        <input hidden type="text" value="{{vacancy.id}}" name="vacancy_id">
                                        <input hidden type="text" value="{{request.student.id}}" name="student_id">
                                        <button id="sendRequestBtn" class="btn btn-lg btn-success col-12 m-b-20" type="submit">Принять</button>
                                    </form>
                                </div>
                                <div class="col-md-2 col-xs-12"></div>
                                <div class="col-md-2 col-xs-12"></div>
                                <div class="col-md-2 col-xs-12">
                                    <form action="{% url 'main:decline_student' %}" method="POST">{% csrf_token %}
                                        <input hidden type="text" value="{{vacancy.id}}" name="vacancy_id">
                                        <input hidden type="text" value="{{request.student.id}}" name="student_id">
                                        <button id="sendRequestBtn" class="btn btn-lg btn-danger col-12 m-b-20" type="submit">Отклонить</button>
                                    </form>
                                </div>
                                <div class="col-md-2 col-xs-12"></div>
                            </div>
                        </div>
                        <br><br>
                    {% endfor %}
                {% endif %}
        </div><!--/-->                            
    </div><!--/tab-content-->
</div>
</div>
{%endblock%}                                               